<form [formGroup]="ventaForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Cliente</label>
          <input type="text" class="form-control" formControlName="cliente">
        </div>
        <div class="form-group col-md-2">
          <label>Tipo comprobante</label>
          <select class="form-control" formControlName="tipoComprobante">
            <option>BOL</option>
            <option>FAC</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Serie comprobante</label>
          <input type="text" class="form-control" formControlName="serieComprobante">
        </div>
        <div class="form-group col-md-2">
          <label> Nro comprobante </label>
          <input type="number" class="form-control" formControlName="numeroComprobante">
        </div>
      </div>
      <div class="form-row">
        <h6>Items</h6>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Producto</label>
          <input type="text" class="form-control" ngModel name="producto">
        </div>

        <div class="form-group col-md-1">
          <label>Precio</label>
          <input type="number" class="form-control" >
        </div>
        <div class="form-group col-md-1">
          <label>Cantidad</label>
          <input type="number" class="form-control">
        </div>



        <div class="form-group col-md-2">
          <button class="btn btn-success btn-sm" (click)="addProducto()">Agregar</button>
        </div>

      </div>
      <div class="form-row">
        <table class="table table-bordered table-sm">
          <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
            <th scope="col">Acción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of listaProducto">
            <td>{{producto.producto}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio*producto.cantidad}}</td>
            <td><button class="btn btn-danger btn-sm" (click)="eliminarProducto($event)">Quitar</button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form-row">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>

  <!--{{ ventaForm.value | json }}-->
  <!--{{ ventaForm.status | json }}-->
  <!--{{ ventaForm.get('productos.producto').value }}-->
    </form>


