<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Cliente</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label>Tipo comprobante</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label>Serie comprobante</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <label >Nro comprobante</label>
      <input type="password" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <h6>Items</h6>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Producto</label>
      <input type="email" class="form-control">
    </div>

    <div class="form-group col-md-1">
      <label>Precio</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-group col-md-1">
      <label>Cantidad</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group col-md-2">
      <button class="btn btn-success btn-sm">Agregar</button>
    </div>
  </div>
  <div class="form-row">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="form-row">
    <button class="btn btn-primary">Guardar</button>
  </div>

</form>
